/* Global Styles */
html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%; /* Ensures image fills container */
}

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 2.8rem;
  width: 11.4rem;
  padding: 1.3rem 0;
  text-shadow: none;
  font-size: 1.25rem; /* The following is not explicitely asked for, just matched example better */
  border-radius: 8px;
  border: 0;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Bootstrap Overrides */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Navigation */
.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) { /* Matches example website, set to Tablet size */
    .navbar img {
        display: none;
    }
}

/* Jumbotron */
.jumbotron {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 44rem;
  text-align: center;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 7.1rem;
  margin-top: 11.85rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto; /* Ensures element is centered (jumbotron {text-align: center}) when max-width is set */
}

@media only screen and (max-width: 768px) { /* Matches example website, set to Tablet size */
    .navbar h1 {
        font-size: 5.7rem;
    }
}

/* Project Image Containers */
.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1.0;
  -webkit-transform: scale(1.3); /* Chrome, Safari Web Browser Engine */
  -ms-transform: scale(1.3); /* IE Web Browser Engine */
  transform: scale(1.3);
}

/* Featured Project */
.featured-project {

}

.featured-project .image-container {
  height: 19rem;
  margin-top: 20px;
}

.featured-project .categories h3 {
  color: #399bd1;
}

/* Projects Section */

@media only screen and (max-width: 768px) { /* Matches example website, set to Tablet size */
    .proj {
        margin-bottom: 5.85rem;
    }
}

/* Footer */
footer {
  background-color: #f3f3f3;
  text-align: center;
  margin-top: 5.85rem;
  padding: 5.2rem 0;
}

footer strong {
  font-size: 2.5rem;
  font-weight: bold;
}

footer p {
  width: 42rem;
  margin: auto;
  margin-top: 1.4rem;
}
