/* Global Styles */
html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

img {
  width: 100%;
}

/* Bootstrap Overrides */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Navigation */
.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Jumbotron */
.jumbotron {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 44rem;
  text-align: center;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 7.1rem;
  margin-top: 11.85rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

/* Project Image Containers */
.image-container {
  overflow: hidden;
}

/* Featured Project */
.featured-project {

}

.featured-project .image-container {
  height: 19rem;
  margin-top: 20px;
}

.featured-project h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.featured-project .categories h3 {
  color: #399bd1;
}
