html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Bootstrap Overrides */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/* Navigation */
.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Jumbotron */
.jumbotron {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron h1 {
  font-family: 'Monoton', sans-serif;
  font-size: 7.1rem;
}
